.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(298px, 1fr));
  grid-gap: 8px;
  grid-auto-rows: minmax(8px, auto);
  grid-template-rows: auto 1fr auto;
}

.card-container {
  display: grid;
  grid-template-columns: 60px 100%;
}

.hicard {
  -webkit-box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.75);

  border-radius: 2px;
  margin: 4px;
}

.hicard-header {
  border: 1px solid lightgray;
  background-color: #e3d695;
}

.avatar {
  /*width: 50px;*/
  height: 150px;
}
.label {
  display: inline-block;
  float: left;
  margin-right: 8px;
  font-weight: bold;
}


.hicard-title {

}

.hicard-content {

}

.beer {

}

.outer {
}

.beer-name {
  /*margin-right: 8px;*/
}

.beer-type-label {
  float: left;
  margin-right: 8px;
  font-weight: bold;
}

.beer-type {
  float: left;
  margin-right: 8px;
}

.beer-brewery {
  float: left;
  margin-right: 8px;
}

.beer-description {
  margin-top: 8px;
  width: 90%;
  /*float: left;*/
  /*display: block;*/
}

.beer-type-container {
  display: inline-block;
}
