.panel {
  border: 1px solid black;
  border-radius: 5px;
  text-align: left;
  background-color: #ffefd5;
  margin-top: 4px;
  -webkit-box-shadow: 1px 1px 2px 1px rgba(61, 61, 61, 1);
  -moz-box-shadow: 1px 1px 2px 1px rgba(61, 61, 61, 1);
  box-shadow: 1px 1px 2px 1px rgba(61, 61, 61, 1);
  width: 400px;
  /*display: block;*/
}

.center {
  text-align: center;
}

.row {
  width: 100%;
  display: inline-block;
}

.label {
  display: inline-block;
  float: left;
  margin-right: 8px;
  font-weight: bold;
}

.values {
  float: left;
}

.additional {
  float: right;
}

.hit-the-floor {
  color: #7f8794;
  font-size: 2.75em;
  font-weight: bold;

  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
  margin-bottom: 10px;
}

.notasting {
  font-size: 1.5em;
  text-align: center;

}
