<div *ngIf="tasting == null" class="notasting">There must be some kind of mistake. Are we not getting any beer?</div>

<div *ngIf="tastingOnGoing" class="celebration">
  <div>
    <div *ngIf="tasting == null">We are currently drinking a beer</div>
    <div *ngIf="tasting != null">
      <div class="hit-the-floor">We are currently drinking a</div>
      <div class="beer-text">{{tasting.beer?.name}}</div>
      <div *ngIf="tasting?.beer?.imageUrl"><img src="assets/images/cheers.png" height="400px"></div>
      <div class="hit-the-floor">Thank you {{tasting.giver?.firstname}} {{tasting.giver?.familyname}}</div>
    </div>
  </div>
  <div>
    Next time you will be drinking a beer will be on !Date! where !Person! will be serving a !Beer!
  </div>
</div>
<div *ngIf="!tastingOnGoing && tasting != null">
  <div style="text-align: center">
    <div>{{tasting?.giver?.firstname}} {{tasting?.giver?.familyname}} is currently filling the mugs with
      {{tasting?.beer?.name}}
    </div>

    <div *ngIf="tasting?.beer?.imageUrl"><img src="{{tasting?.beer?.imageUrl}}" height="450px"></div>
    <div *ngIf="!tasting?.beer?.imageUrl"><img src="assets/images//hero01_12.png" width="400px"></div>
    <div>They should be full in</div>
    <div class="hit-the-floor">{{hoursRemaining}} hours
      <span *ngIf="minutesRemaining < 10">0</span>{{minutesRemaining}}
      <span *ngIf="minutesRemaining== 1">minute</span><span *ngIf="minutesRemaining != 1">minutes</span> and
      <span *ngIf="secondsRemaining < 10">0</span>{{secondsRemaining}}
      <span *ngIf="secondsRemaining == 1">second</span>
      <span *ngIf="secondsRemaining != 1">seconds</span>
    </div>
    <div>
      The beer will be served {{tasting?.location}}
    </div>
  </div>
</div>
