<div class="panel">
  <div class="lefty beercreation">
    <div class="sub-header">Create a new beer</div>
    <div>
      <div class="tasting-beer-name">
        <mat-form-field class="tasting-beer-name">
          <input type="text" matInput placeholder="Name" [(ngModel)]="newBeer.name"
                 required name="tastingBeerName" class="tasting-beer-name">
        </mat-form-field>
      </div>
      <div class="tasting-beer-type">
        <mat-form-field class="tasting-beer-type">
          <input type="text" matInput placeholder="Type" [(ngModel)]="newBeer.type"
                 required name="tastingBeerType" class="tasting-beer-type">
        </mat-form-field>
      </div>
      <div class="tasting-beer-brewery">
        <mat-form-field class="tasting-beer-brewery">
          <input type="text" matInput placeholder="Brewery" [(ngModel)]="newBeer.brewery"
                 required name="tastingBeerBrewery" class="tasting-beer-brewery">
        </mat-form-field>
      </div>
      <div class="tasting-beer-description">
        <mat-form-field class="tasting-beer-description">
          <input type="text" matInput placeholder="Description" [(ngModel)]="newBeer.description"
                 required name="tastingBeerDescription" class="tasting-beer-description">
        </mat-form-field>
      </div>
    </div>
  </div>
  <button mat-button (click)="createBeer()">Create beer</button>
</div>
