.panel {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #ffefd5;
  margin-top: var(--marg-top);
  -webkit-box-shadow: 1px 1px 2px 1px rgba(61, 61, 61, 1);
  -moz-box-shadow: 1px 1px 2px 1px rgba(61, 61, 61, 1);
  box-shadow: 1px 1px 2px 1px rgba(61, 61, 61, 1);
  display: inline-block;
}

.header {
  font-size: larger;
  font-weight: bold;
}

.sub-header {
  font-size: larger;
}

.tastingTime {
  position: relative;
  display: inline-block;
}

.tastingBeer {
  position: relative;
  display: inline-block;
}

.tasting-date {
  float: left;
  margin-right: var(--marg-right);
}

.tasting-hour {
  float: left;
  width: 75px;
  margin-right: var(--marg-right);
}

.tasting-minute {
  float: left;
  width: 75px;
}

.tasting-beer {
  float: left;
  width: 150px;
}

.lefty {
  float: left;
}

.tasting-beer-name {
  float: left;
  width: 100px;
}

.beerselection {
  width: 250px;
}
