.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(298px, 1fr));
  grid-gap: 8px;
  grid-auto-rows: minmax(8px, auto);
  grid-template-rows: auto 1fr auto;
}

.label {
  display: inline-block;
  float: left;
  margin-right: 8px;
  font-weight: bold;
}
