<div class="container">
  <mat-card *ngFor="let brewery of breweries" class="hicard">
    <mat-card-header>
      <div class="label">{{brewery.name}}</div>
    </mat-card-header>
    <mat-card-content>
      <div class="label">Type</div>
      <div>{{brewery.type}}</div>
      <div class="label">Location</div>
      <div>{{brewery.location}}</div>
      <div class="container">
        <div class="beer-description">{{brewery.description}}</div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="editBrewery(brewery)">Edit</button>
      <button mat-button (click)="deleteBrewery(brewery)">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>
