<!--<div class="droplets"><img src="assets/images/droplets.png" height="640px"></div>-->
<mat-menu #userMenu="matMenu">
  <button mat-menu-item routerLink="create-user" routerLinkActive="active">Create</button>
  <button mat-menu-item routerLink="list-users" routerLinkActive="active">List</button>
</mat-menu>

<mat-menu #beerMenu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="breweryMenu">Breweries</button>
  <button mat-menu-item routerLink="create-beer" routerLinkActive="active">Create</button>
  <button mat-menu-item routerLink="list-beers" routerLinkActive="active">List</button>
  <button mat-menu-item routerLink="list-beer-images" routerLinkActive="active">List Beer images</button>
</mat-menu>
<mat-menu #breweryMenu="matMenu">
  <button mat-menu-item routerLink="create-brewery" routerLinkActive="active">Create</button>
  <button mat-menu-item routerLink="list-breweries" routerLinkActive="active">List</button>
</mat-menu>

<mat-menu #tastingMenu="matMenu">
  <button mat-menu-item routerLink="create-tasting" routerLinkActive="active">Create</button>
  <button mat-menu-item routerLink="list-tastings" routerLinkActive="active">List</button>
</mat-menu>
<mat-menu #quoteMenu="matMenu">
  <button mat-menu-item routerLink="create-quote" routerLinkActive="active">Create</button>
  <button mat-menu-item routerLink="list-quotes" routerLinkActive="active">List</button>
</mat-menu>
<!--<button mat-icon-button [matMenuTriggerFor]="rootMenu">-->
<!--<mat-icon>more_vert</mat-icon>-->
<!--</button>-->
<button mat-icon-button routerLink="">Home</button>
<button mat-icon-button [matMenuTriggerFor]="userMenu">Users</button>
<button mat-icon-button [matMenuTriggerFor]="beerMenu">Beers</button>
<button mat-icon-button [matMenuTriggerFor]="tastingMenu">Tastings</button>
<button mat-icon-button [matMenuTriggerFor]="quoteMenu">Quotes</button>


<div style="text-align:center">
  <div><img src="assets/images/logo.png" width="500px"/></div>
  <div  class="quote" >
    <view-quote></view-quote>
  </div>

</div>


<!--<div style="text-align:center">-->
<!--<div>When is the</div>-->
<!--<div class="light"><h1><div class="text">NeXTBeer</div></h1>-->
<!--<img src="assets/images/beer-fizz-carbonation.jpg" class="beerimage"/>-->
<!--&lt;!&ndash;<img src="assets/images/151101-laslo-beer-monopoly-tease_vvhdxp.jpg" />&ndash;&gt;-->
<!--</div>-->
<!--</div>-->

<router-outlet></router-outlet>

