
::ng-deep :root {
  --mainColor: #d67000;
  --text-c1: #e3d695;
  --text-c2: #d67000;
  --text-c3: #7e3f00;
  --text-c3: #7e3f00;
  --text-c4: #d66f00;
  --text-c5: #aaa;

  --marg-top: 8px;
  --marg-bottom: 8px;
  --marg-left: 8px;
  --marg-right: 8px;
}

.panel {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #ffefd5;
  margin-top: 4px;
  -webkit-box-shadow: 1px 1px 2px 1px rgba(61, 61, 61, 1);
  -moz-box-shadow: 1px 1px 2px 1px rgba(61, 61, 61, 1);
  box-shadow: 1px 1px 2px 1px rgba(61, 61, 61, 1);
  display: inline-block;
}
.quote {
  position: absolute;
  top: 200px;
  left: 1400px;
  /*margin-right: 250px;*/
  width: 300px;
  float: right;
  /*transform: rotate(22deg);*/
  /*font-size: 2em;*/
  z-index: 999;
}
div h1 {
  margin: 0;
  font-size: 20vw;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  line-height: 1.9;
}
.dark h1 {
  color: #fff;
}
.light h1 {
  color: #000;
  font-size: 5em;

}
.light .beerimage {
  position: absolute;
  top: 100px;
  left: 700px;
  width: 500px;
  height: 70px;
}
.text {
  text-align: center;
  width: 100%;
  border: 1px solid black;
}
.dark {
  background: #000;
}
.light {
  background: #fff;

}
.dark img {
  mix-blend-mode: darken;
}
.light img {
  mix-blend-mode: lighten;
}
