<!--<mat-menu #rootMenu="matMenu">-->
<!--<button mat-menu-item [matMenuTriggerFor]="userMenu">Users</button>-->
<!--<button mat-menu-item [matMenuTriggerFor]="beerMenu">Beers</button>-->
<!--</mat-menu>-->

<mat-menu #userMenu="matMenu">
  <button mat-menu-item routerLink="create-user">Create</button>
  <button mat-menu-item routerLink="list-users">List</button>
</mat-menu>

<mat-menu #beerMenu="matMenu">
  <button mat-menu-item routerLink="create-beer">Create</button>
  <button mat-menu-item routerLink="list-beers">List</button>
</mat-menu>
<mat-menu #tastingMenu="matMenu">
  <button mat-menu-item routerLink="create-tasting">Create</button>
  <button mat-menu-item routerLink="list-tastings">List</button>
</mat-menu>
<!--<button mat-icon-button [matMenuTriggerFor]="rootMenu">-->
<!--<mat-icon>more_vert</mat-icon>-->
<!--</button>-->
<button mat-icon-button>Home</button>
<button mat-icon-button [matMenuTriggerFor]="userMenu">Users</button>
<button mat-icon-button [matMenuTriggerFor]="beerMenu">Beers</button>
<button mat-icon-button [matMenuTriggerFor]="tastingMenu">Tastings</button>
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<router-outlet></router-outlet>

<!--<create-tasting></create-tasting>-->
<!--<view-tastings></view-tastings>-->


