<section *ngIf="tasting">
  <div class="panel">
    <div class="header">Location and time</div>
    <div class="tastingTime">
      <div class="sub-header">When</div>
      <div class="tasting-date">
        <mat-input-container>
          <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="tastingTime" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-input-container>
      </div>

      <div class="tasting-hour">
        <mat-form-field class="tasting-hour">
          <input type="number" matInput placeholder="Hour" [(ngModel)]="tasting.time.hour" min="0" max="23" size="4"
                 required [formControl]="hourControl" name="tastingHour" class="tasting-hour">
        </mat-form-field>
      </div>
      <div class="tasting-minute">
        <mat-form-field class="tasting-minute">
          <input type="number" class="smallInput" matInput placeholder="Minute" [(ngModel)]="tasting.time.minute"
                 min="0" max="59" size="4"
                 required [formControl]="minuteControl" name="tastingMinute" class="tasting-minute">
        </mat-form-field>
      </div>
    </div>
    <div>
      <div class="sub-header">Where</div>
      <div class="tasting-location">
        <mat-form-field>
          <input type="text" matInput placeholder="The Office" [(ngModel)]="tasting.location" required
                 name="tastingLocation">
        </mat-form-field>
      </div>
    </div>
  </div>
</section>
<section *ngIf="tasting">
  <div class="panel">
    <div class="header">Beer</div>
    <select-beer (select)="beerSelected($event)" [beer]="tasting.beer"></select-beer>
  </div>
</section>
<section *ngIf="tasting">
  <div class="panel">
    <div class="header">Giver</div>
    <select-user (userSelected)="userSelected($event)" [user]="tasting.giver"></select-user>
  </div>
</section>

<div class="panel" *ngIf="tasting">
  <button mat-button (click)="updateTasting()">Update</button>
</div>

